{% extends 'base.html' %}
{% block content %}    
        <div class="jumbotron">
            <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Natus sint totam saepe porro tempora, nemo praesentium? Ducimus dolorum, similique maiores, culpa iure illum voluptate veritatis soluta sapiente deleniti ipsum explicabo!</p>
            <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Fugiat maiores temporibus tempora, amet praesentium, commodi accusamus consequatur earum sapiente vero maxime, error quibusdam quia aliquam. Alias nemo repudiandae nesciunt eligendi!</p>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Distinctio fuga quasi, laborum perferendis et praesentium dolor veniam odio, recusandae, nobis alias saepe mollitia libero a aperiam iusto minima accusantium nesciunt.</p>
        </div>
        <div class="row">
            <div class="col-sm">
                <span class="dot"></span>
                <h2>Juan dela cruz</h2>
                <h4>President</h4>
                
            </div>
            <div class="col-sm">
                <span class="dot"></span>
                <h2>Juan dela cruz</h2>
                <h4>President</h4>
                
            </div>
            <div class="col-sm">
                <span class="dot"></span>
                <h2>Juan dela cruz</h2>
                <h4>President</h4>
                
            </div>
            

        </div>
        <div class="row">
            <div class="col-sm">
                <span class="dot"></span>
                <h2>Juan dela cruz</h2>
                <h4>President</h4>
                
            </div>
            <div class="col-sm">
                <span class="dot"></span>
                <h2>Juan dela cruz</h2>
                <h4>President</h4>
                
            </div>
            <div class="col-sm">
                <span class="dot"></span>
                <h2>Juan dela cruz</h2>
                <h4>President</h4>
                
            </div>
        </div>
{% endblock %}